[submodule "nextpnr"]
	path = nextpnr
	url = https://github.com/openXC7/nextpnr.git
[submodule "prjxray"]
	path = prjxray
	url = https://github.com/openXC7/prjxray.git
[submodule "bit2verilog"]
	path = bit2verilog
	url = https://github.com/jrrk2/bit2verilog.git
[submodule "fasm2netlist"]
	path = fasm2netlist
	url = https://github.com/jrrk2/fasm2netlist.git
